.detail{
	padding: 30px 0 0 30px;
}
.detail-box1, .detail-box2{
	padding-left: 40px;
}
.detail-box2{
	padding-top: 30px;
}
.detail-title, .detail-body{
	font-size: 13px;
}
.detail-command-box{
	padding-top: 30px;
}
.detail-edit-bt, .detail-back-bt{
	font-size: 13px;
	text-decoration: underline;
}
