.edit{
	padding: 30px 0 0 30px;
}
.editing-book{
	font-size: 26px;
}
.edit-title, .edit-body{
	font-size: 13px;
	padding-top: 10px;
}
.edit-command-box{
	padding-top: 10px;
}
.edit-show-bt, .edit-back-bt{
	font-size: 13px;
	text-decoration: underline;
}